{% set user_rules = firewall.rules | selectattr('is_system', 'false') | list %}
{% if user_rules %}
resource "vcd_nsxt_firewall" "migrated" {
  org             = var.target_org
  edge_gateway_id = var.target_edge_id

{% for rule in user_rules %}
  rule {
{% if rule.name and rule.name not in ['New Rule', 'new rule'] %}
    name        = "migrated_{{ rule.original_id }}_{{ rule.name | slug }}"
{% else %}
    name        = "migrated_rule_{{ rule.original_id }}"
{% endif %}
    direction   = "IN_OUT"
    ip_protocol = "IPV4"
    action      = "{{ rule.action }}"
    enabled     = {{ rule.enabled | lower }}
    logging     = {{ rule.logging | lower }}
{% if rule._source_ip_set_name %}
    source_ids  = [vcd_nsxt_ip_set.{{ rule._source_ip_set_name }}.id]
{% endif %}
{% if rule._dest_ip_set_name %}
    destination_ids = [vcd_nsxt_ip_set.{{ rule._dest_ip_set_name }}.id]
{% endif %}
{% if rule._app_port_profile_keys %}
    app_port_profile_ids = [
{% for key in rule._app_port_profile_keys %}
{% if profile_lookup[key].is_system_defined %}
      data.vcd_nsxt_app_port_profile.{{ key | slug }}.id,
{% else %}
      vcd_nsxt_app_port_profile.{{ key | slug }}.id,
{% endif %}
{% endfor %}
    ]
{% endif %}
  }

{% endfor %}
}
{% endif %}
