{% for route in routing.static_routes %}
resource "vcd_nsxt_edgegateway_static_route" "route_{{ loop.index }}" {
  edge_gateway_id = var.target_edge_id
  name            = "migrated_route_{{ loop.index }}"
  description     = "{{ route.description | default('', true) | hcl_escape }}"
  network_cidr    = "{{ route.network }}"

  next_hop {
    ip_address     = "{{ route.next_hop }}"
    admin_distance = {{ route.admin_distance | default(1) }}
  }
}

{% endfor %}
