resource "vcd_org" "{{ org.name | slug }}" {
  name             = "{{ org.name | hcl_escape }}"
  full_name        = "{{ org.full_name | default(org.name) | hcl_escape }}"
  is_enabled       = {{ org.is_enabled | default(true) | lower }}
  delete_force     = {{ org.delete_force | default(false) | lower }}
  delete_recursive = {{ org.delete_recursive | default(false) | lower }}
{% if org.description %}
  description      = "{{ org.description | hcl_escape }}"
{% endif %}
{% if org.metadata is defined and org.metadata %}

  metadata = {
{% for key, value in org.metadata.items() %}
    {{ key | hcl_escape }} = "{{ value | hcl_escape }}"
{% endfor %}
  }
{% endif %}
}

resource "time_sleep" "wait_for_org" {
  depends_on      = [vcd_org.{{ org.name | slug }}]
  create_duration = "30s"
}
